

<table>
    <tr>
        <th>Inode User</th>
        <th>Domain</th>
        <th>User</th>
        <th>Email</th>
        <th>Shell</th>
        <th>Disk Used</th>
    </tr>
    <% acctData.data.acct.forEach(s=>{ %>
    <tr>
        <td><%= s.inodesused %></td>
        <td><%= s.domain %></td>
        <td><%= s.user %></td>
        <td><%= s.email %><l</td>
        <td><%= s.shell %></td>
        <td><%= s.diskused %></td>
    </tr>
    <%})%>
    
</table>

