
<%
listData.data.acct.sort(function(a, b) {
    if (a.uid < b.uid) return -1;
    if (a.uid > b.uid) return 1;
    return 0;
  });
%>
<div class="main">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">UID</th>
        <th scope="col">Domain</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Owner</th>
        <th scope="col">IP</th>
    </tr>
   </thead>
   <tbody>
    <% listData.data.acct.forEach(s=>{ %>
    <tr>
        <td><%= s.uid %></td>
        <td><%= s.domain %></td>
        <td><%= s.user %></td>
        <td><%= s.email %><l</td>
        <td><%= s.uid %></td>
        <td><%= s.ip %></td>
    </tr>
    <%})%>
</tbody>
</table>
</div>