
<%
listData.data.acct.sort(function(a, b) {
    if (a.uid < b.uid) return -1;
    if (a.uid > b.uid) return 1;
    return 0;
  });
%>
<table>
    <tr>
        <th>UID</th>
        <th>Domain</th>
        <th>User</th>
        <th>Email</th>
        <th>Owner</th>
        <th>IP</th>
    </tr>
    <% listData.data.acct.forEach(s=>{ %>
    <tr>
        <td><%= s.uid %></td>
        <td><%= s.domain %></td>
        <td><%= s.user %></td>
        <td><%= s.email %><l</td>
        <td><%= s.uid %></td>
        <td><%= s.ip %></td>
    </tr>
    <%})%>
    
</table>

