
<%
listData.data.acct.sort(function(a, b) {
    if (a.uid < b.uid) return -1;
    if (a.uid > b.uid) return 1;
    return 0;
  });
%>
<div>
    <button onclick="HtmlTOExcel('xlsx','list-accts')">Export<img src="/images/file-export-solid.svg"/></button>
</div>

<div class="main">
<table  id="list-accts">
    <thead>
    <tr>
        <th >UID</th>
        <th >Domain</th>
        <th >User</th>
        <th >Email</th>
        <th >Owner</th>
        <th >IP</th>
    </tr>
   </thead>
   <tbody>
    <% listData.data.acct.forEach(s=>{ %>
    <tr>
        <td><%= s.uid %></td>
        <td><%= s.domain %></td>
        <td><%= s.user %></td>
        <td><%= s.email %><l</td>
        <td><%= s.uid %></td>
        <td><%= s.ip %></td>
    </tr>
    <%})%>
</tbody>
</table>
</div>