
<%
listData.data.acct.sort(function(a, b) {
    if (a.uid < b.uid) return -1;
    if (a.uid > b.uid) return 1;
    return 0;
  });
%>
<div class="export-btn-section">
    <div class="nav-head">List Accounts</div>
<div class="export-btn" title="Export to pdf">
    <button onclick="HtmlTOExcel('xlsx','list-accts')"><img src="/images/file-export-solid.svg"/></button>
</div>
</div>

<div class="main">
<table  id="list-accts">
    <thead>
    <tr>
        <th >UID</th>
        <th >Domain</th>
        <th >User</th>
        <th >Email</th>
        <th >Owner</th>
        <th >IP</th>
    </tr>
   </thead>
   <tbody>
    <% listData.data.acct.forEach(s=>{ %>
    <tr>
        <td><%= s.uid %></td>
        <td><a class ="domain" href="https://<%= s.domain %>" target="_blank" ><%= s.domain %></a></td>
        <td><%= s.user %></td>
        <td><a class="email" href="mailto://<%= s.email %>" target="_blank"><%= s.email %></a></td>
        <td><%= s.uid %></td>
        <td><%= s.ip %></td>
    </tr>
    <%})%>
</tbody>
</table>
</div>